# upload ignore file list

.metadata/

 
 
MyAngWeb20181207/node_modules/ 
my-new-app/node_modules/ 
my-new-app2-52/node_modules/
live-posts/node_modules/

MyAngWeb20181207/package-lock.json
my-new-app/package-lock.json
my-new-app2-52/package-lock.json
live-posts/package-lock.json

MyAngWeb20181207/.angular 
my-new-app/.angular
my-new-app2-52/.angular
live-posts/.angular


		

