<p> start from 52</p>

<p>52) Model & interface to validate data type...........................................</p>

<p>53) Recap [Module] and [Routing]...........................................</p>
<ul>
  <li> <a routerLink="login_m">user Login</a>  </li>
  <li> <a routerLink="list_m">user List</a> </li>
</ul>

<p>54) Added [ROUTING MODULE] ...........................................</p>

<ul>
  <li> <a routerLink="admin/login">Admin Routing Login</a> </li>
  <li> <a routerLink="admin/list">Admin Routing List</a> </li>
</ul>

<p>54) Group Routing [ROUTING MODULE] ...........................................</p>

<ul>
  <li> <a routerLink="userrm/login">UserRm Routing Login</a> </li>
  <li> <a routerLink="userrm/list">UserRm Routing List</a> </li>
</ul>

<p>55) LAZY LOADING - Module...........................................</p>

<ul>
  <li> <a routerLink="adminLL/admin/login">Admin Routing LL Login</a> </li>
  <li> <a routerLink="adminLL/admin/list">Admin Routing LL List</a> </li>

  <li> <a routerLink="userrmLL/userrm/login">UserRm Routing LL Login</a> </li>
  <li> <a routerLink="userrmLL/userrm/list">UserRm Routing LL List</a> </li>
</ul>

<p>56) LAZY LOADING - Component(when button click)...........................................</p>
<button (click)="loadBoc()">BOC load Component</button>
<button (click)="loadNTB()">NTB load Component</button>

<p>59) Automation Testing -> app.component.spec.ts + newtestkreshan.spec.ts...........................................</p>
<!-- 
  newtestkreshan.spec.ts
  boc.component.spec.tc 
-->
<p>60) Automation component Testing -> boc.component.spec.tc ...........................................</p>

<router-outlet></router-outlet>