<p>comptutor31to40 works!</p>

<p>31) Type Script.......................................................</p>

<p>32/33) PIPES.......................................................</p>
<!-- all convert to uppercase -->
<p>{{value32|uppercase}}</p>  
<p>{{date32| date}}</p>

<!-- pass parameeter -->
<p>Substring(slice): {{value32| slice :10:15}}</p> 

<!-- object showing & 2 Pipes (json+uppercase) -->
<p>object showing {{jsonObj33| json| uppercase}}</p>

<!-- showing in $  -->
<p>Currency: {{100| currency :'USD'}}</p>

<p>34) Customes PIPES.......................................................</p>
<p> {{100 | usdLkr :251}}</p>


<p>35/36) TEMPLATE-DRIVEN FORM /validation.......................................................</p>

<!-- Validation & Template variable: required #name="ngModel" -->
<!-- pattern validation==> pattern="[a-zA-Z]+$" | email -->
<form #loginForm="ngForm" (ngSubmit)="loginUser(loginForm)">
    <input type="text" required #name="ngModel" pattern="[a-zA-Z]+$" ngModel name="name" placeholder="Enter Name"/>
    <br/> <span *ngIf="name.invalid && name.touched" style="color: red;">Please Enter Valid Input</span> 
    <br/>
    <input type="password" required #password="ngModel" minlength="3" ngModel name="password" placeholder="Enter Password"/>
    <br/> <span *ngIf="password.invalid && password.touched" style="color: red;">Please Enter Valid password</span> 
    <br/>
    <button [disabled]="loginForm.invalid">Login</button>
</form>

<button (click)="loginUser(loginForm)">Login Outside</button>


<p>37-3) REACTIVE FORM /validation.......................................................</p>

<form [formGroup]="loginFormRF" (ngSubmit)="loginUserRF()">
    <input type="text" name="user" placeholder="Enter RF User Name" formControlName="user"/>
    <br/>
    <span *ngIf="user && user.invalid && user.touched" style="color: red;" >User Name is invalid</span>
    <br/>
    <input type="password"  name="passwordRF" placeholder="Enter RF Password" formControlName="passwordRF"/>
    <br/>
    <span *ngIf="passwordRF && passwordRF.invalid && passwordRF.touched" style="color: red;">User password is invalid</span>
    <br/>
    <button [disabled]="loginFormRF.invalid">Login</button>
</form>

<p>38) Diract ives  [ngIF| ngFor+userdefine(redEleK)].....................................................</p>
<p *ngIf="true">this thi sample diractives class test</p>

<!-- ng g directive directives/redEleK -->
<p appRedEleK>User defile diractives class redEleK</p>

<p>39) ROUTING(insede Header).....................................................</p>
<p>40) Dynamic ROUTING().....................................................</p>
    
